[*.cs]

# Default severity for analyzer diagnostics with category 'Naming'
dotnet_analyzer_diagnostic.category-Naming.severity = none

# CS8604: Posible argumento de referencia nulo
dotnet_diagnostic.CS8604.severity = none
