[*.cs]

# IDE0055: Fijar formato
dotnet_diagnostic.IDE0055.severity = none

# CS1591: Falta el comentario XML para el tipo o miembro visible públicamente
dotnet_diagnostic.CS1591.severity = none

# CS8604: Posible argumento de referencia nulo
dotnet_diagnostic.CS8604.severity = none

# CA1805: No inicializar innecesariamente
dotnet_diagnostic.CA1805.severity = none

# CS8618: Un campo que no acepta valores NULL debe contener un valor distinto de NULL al salir del constructor. Considere la posibilidad de agregar el modificador "required" o declararlo como un valor que acepta valores NULL.
dotnet_diagnostic.CS8618.severity = none

# CA2254: La plantilla debe ser una expresión estática
dotnet_diagnostic.CA2254.severity = silent
